.todoListMain .theList {
    list-style: none;
    padding-left: 0;
    width: 250px;
  } 
  .todoListMain .theList li {
    color: #333;
    background-color: #a0dcf9;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    list-style: none;
    transition: background-color .2s ease-out;
  }
  ul.theList {
    padding: 0;
  }
  .todoListMain .theList li:hover {
    background-color: pink;
    cursor: pointer;
  }